* {
    margin: 0;
    padding: 0;
}

#keep_calm {
    background-image: url(keep_calm.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #3271b4;
    height: 87vh;
    width: 100%;
    
}

h1 img{
    height: 100px;
    width: 80px;
}

.david {
    text-align: center;
    width: 100%;
    font-size: 4em;
    background-color: rgb(230, 7, 7);
    -webkit-animation: titre 10s;
}

@-webkit-keyframes titre {
    0% {
        transform: translate(-800px);
    }

    50% {
        transform: translate(1900px);
    }
}

body {
    background-image: url(dark-triangles.png);
}

.skills {
    height: 60vh;
    text-align: center;
}

#gauche {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 280%;
    margin-left: -5cm;
    margin-top: 1.5cm;
    text-decoration: underline red solid;
    color: #7F7E7E;
}

.col-md-auto {
    height: 300px;
    width: 500px;
}

.soft_skills {
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
    border: 1px solid red;
}

#droite {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 280%;
    margin-right: -5cm;
    margin-top: 1.5cm;
    text-decoration: underline red solid;
    color: #7F7E7E;
}

.container {
    height: 50vh;
}

#gauche2 {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 200%;
    margin-left: -5cm;
    margin-top: 2cm;
    text-decoration: underline rgb(56, 176, 231);
    color: #7F7E7E;
}

.hard_skills {
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
    width: 470px;
    border: 1px solid blue;
}

#droite2 {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 250%;
    margin-right: -5cm;
    margin-top: 3cm;
    text-decoration: underline rgb(47, 127, 233);
    color: #7F7E7E;
}

h3 img{
    height: 100px;
    width: 80px;
}

h3 {
    margin-left: -430px;
}

.titre {
    text-align: center;
    width: 100%;
    width: 30em;
    font-size: 4em;
    background-color: rgb(52, 125, 235);
    -webkit-animation: titre 10s;
}

.état_civil {
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1cm;
}

ul {
    display: block;
    color: gray;
    text-align: center;
    align-content: center;
}

li {
    display: block;
    color: gray;
    font-size: 1.5em;
    text-align: justify;
    align-content: center;
}

h3 img {
    height: 100px;
    width: 120px;
}

a img {
    height: 4cm;
    width: 7cm;
}