* {
    margin: 0;
    padding: 0;
}

header {
    height: 50vh;
}

#keep_calm {
    background-image: url(keep_calm.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: #3271b4;
    height: 100%;
    width: 100%;
    
}

h1 img {
    height: 90px;
    width: 80px;
}

.titre {
    text-align: center;
    width: 100%;
    font-size: 4em;
    background-color: rgb(230, 7, 7);
}

.skills {
    height: 80vh;
    text-align: center;
}

#gauche {
    text-align: center;
    justify-content: left;
}

.soft_skills {
    background-image: url(soft_skills.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 700px;
    width: 500px;
}

.container {
    height: 50vh;
}